<ion-menu [content]="inheritedContent" side="right" swipeEnabled="false" id="right-menu">
	<ion-header>
		<ion-toolbar>
			<ion-title>Notifications</ion-title>
		</ion-toolbar>
	</ion-header>
	<ion-content>
		<ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]="100" [pullMax]="999">
      <ion-refresher-content pullingText="Mark all as read"></ion-refresher-content>
		</ion-refresher>

		<h1 text-center *ngIf="loading"><ion-spinner></ion-spinner></h1>
		<h3 text-center *ngIf="!loading && notif.items.length===0">No notifications</h3>

		<ion-list *ngIf="!loading && notif.items.length">
			<notification-component *ngFor="let item of notif.items" [item]="item" (click)="notifTapped(item)" (handleUserTapped)="handleUserTapped($event)">
			</notification-component>
		</ion-list>

		<ion-infinite-scroll *ngIf="!reachedEnd && !loading" (ionInfinite)="doInfinite($event)">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</ion-content>
</ion-menu>
