<ion-content class="login-content" no-bounce padding>

  <ion-row text-center class="logo-row">
    <img id='title-img-large' src="./assets/img/title.svg"/>
  </ion-row>
   
   <div class="login-box" *ngIf="!checkingSession">
     <form (ngSubmit)="login()" #registerForm="ngForm">
       <ion-row>
         <ion-col>
           <ion-list inset>
             
             <ion-item>
               <ion-input type="email" placeholder="Email" name="email" pattern=".{4,}" [(ngModel)]="registerCredentials.email" required email></ion-input>
             </ion-item>
             
             <ion-item>
               <ion-input type="password" placeholder="Password" name="password" pattern=".{8,}" [(ngModel)]="registerCredentials.password" required></ion-input>
             </ion-item>
             
           </ion-list>
         </ion-col>
       </ion-row>
       
       <ion-row>
         <ion-col class="signup-col">
           <button ion-button block round type="submit" [disabled]="!registerForm.form.valid">Login</button>
           <button ion-button block round clear type="button" (click)="createAccount()">Create New Account</button>
           <!-- <button ion-button block round type="button" (click)="facebookAuth" *ngIf='auth.mobile || true' style='background-color: #3b5998; color: white; font-weight: bold; bottom: 0;'>Facebook</button> -->

         </ion-col>
       </ion-row>

     </form>
  </div>

</ion-content>