<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu" color="{{msg.unread_ids.length && false ? 'danger' : 'primary'}}"></ion-icon>
       <ion-badge *ngIf="msg.unread_ids.length" color="danger">{{msg.unread_ids.length}}</ion-badge>
    </button> -->
    <ion-title *ngIf="auth.show_title"><img id='title-img' src="./assets/img/title.svg"/></ion-title>
    <!-- <ion-buttons end>
      <button ion-button icon-only (click)="showFilter($event)">
        <ion-icon name="ios-search-outline" color="{{notif.unreadCount && false ? 'danger' : 'primary'}}"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openRightMenu()">
        <ion-badge *ngIf="notif.unreadCount" color="danger">{{notif.unreadCount}}</ion-badge>
        <ion-icon name="ios-notifications-outline" color="{{notif.unreadCount && false ? 'danger' : 'primary'}}"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  
  <ion-slides (ionSlideDidChange)="null">

    <!-- welcome -->
    <ion-slide [ngClass]="bounce ? 'bounce' : ''">
      <ion-card>
        <ion-card-content>
          <h2>Welcome to Adjacent!</h2>
          <p>We help innovative people connect to interesting ideas and scale them into successful companies.</p>
          <p class='footer' (click)="triggerBounce()">Swipe me to begin</p>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- select track -->
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <h2>Are you signing up...</h2>
          <div class='buttons'>
            <button ion-button block round (click)="setTrack('university')">with a univeristy</button>
            <button ion-button block round (click)="setTrack('group')">with an event or group</button>
            <button ion-button block round (click)="setTrack('individual')">as an individual</button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <!-- tracks -->
      <!-- uni -->
      <div *ngIf="track=='university'">
        <ion-slide>
          <ion-card>
            <ion-card-content>
              <p class='title'>Please enter your university email address and we'll send you a verification email.</p>
              <form (ngSubmit)="sendEmail()" #emailForm="ngForm">
                <ion-input type="email" placeholder="Email" name="email" pattern=".{4,}" [(ngModel)]="email" email required></ion-input>
                <div class='buttons'>
                  <button ion-button block round type="submit" [disabled]="!emailForm.form.valid">Submit</button>
                </div>
              </form>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </div>

      <!-- group -->
      <ion-slide *ngIf="track=='group'">
        <ion-card>
          <ion-card-content>
            <p class='title'>You should have a private code given to you by the event or group administrator. Type in your code below:</p>
            <form (ngSubmit)="confirmCode()" #groupForm="ngForm">
              <ion-input type="text" placeholder="Code" name="code" [(ngModel)]="code" required></ion-input>
              <div class='buttons'>
                <button ion-button block round type="submit" [disabled]="!groupForm.form.valid">Submit</button>
              </div>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-slide>

      <!-- solos -->
      <!-- skip to role -->

    <!-- /tracks -->

    <!-- select role -->
    <div *ngIf="track && verified">
    <ion-slide>
      <ion-card>
        <ion-card-content>
          <p class="title">{{welcomeTexts[track]}}<br/>Are you looking to...</p>
          <div class='buttons'>
            <button ion-button block round (click)="setRole('founder')">Create a start-up</button>
            <button ion-button block round (click)="setRole('collaborator')">Join a start-up</button>
            <button ion-button block round (click)="setRole('mentor')">Mentor a start-up</button>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-slide>
    </div>

  </ion-slides>

</ion-content>
