<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cancel($event)">
        Cancel
      </button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
    <ion-buttons end>
      <button ion-button (click)="saveProfile()" [disabled]="photoUpload.loading">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div *ngIf='profile'>    

    <ion-avatar [ngClass]="'large'" (click)="tappedPhoto($event)">
      <div *ngIf="profile.user.photo_url" [ngStyle]="{'background-image': 'url(' + profile.user.photo_url + ')'}"></div>
      <ion-icon name="camera" *ngIf="!photoUpload.loading"></ion-icon>
      <ion-spinner *ngIf="photoUpload.loading"></ion-spinner>
    </ion-avatar>
    
    <input #fileInput id='upload' style='display:none;' type="file" name="fileToUpload" onchange="angular.element(this).scope().uploadFile(this.files)"/>
    <span class='upload-message'>{{photoUpload.msg}}</span>
    
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.user.fir_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input type="text" [(ngModel)]="profile.user.las_name"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label stacked>Bio</ion-label>
      <ion-textarea [(ngModel)]="profile.bio" placeholder="Receptionist by day, political activist by night. My dream for the future consists of a technologically-enabled, thoroughly democratic societal system."></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label stacked>Skills</ion-label>
      <ion-select multiple="true" [(ngModel)]="profile.skill_ids" (ngModelChange)="updateNamesByIds()">
        <ion-option *ngFor="let skill of skills" value="{{skill.id}}">{{skill.name}}</ion-option>
      </ion-select>
    </ion-item>

    <!-- <h5>Member of: {{networkCount}} Network{{networkCount === 1 ? '' : 's'}}</h5> -->

  </div>
</ion-content>
