<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end *ngIf="myself">
      <button ion-button (click)="editTapped()">
        Edit
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="!founder">
      <button ion-button icon-only (click)="goToMessage()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>

  <div *ngIf='profile'>
    <ion-avatar [ngClass]="'large'">
      <div [ngStyle]="{'background-image': 'url(' + profile.user.photo_url + ')'}"></div>
    </ion-avatar>
    <h3>{{profile.user.fir_name + ' ' + profile.user.las_name}}</h3>
    <p>{{profile.bio}}</p>

    <div *ngIf="profile.skills.length">
      <h5>Skills</h5>
      <div class="skill" *ngFor="let skill of profile.skills">#{{skill}}</div>
    </div>

    <!-- <h5>Member of: {{networkCount}} Network{{networkCount === 1 ? '' : 's'}}</h5> -->
    
    <!-- <h5>{{myself? 'My ':''}}Contribution score: 28</h5> -->

    <h5>{{myself? 'My ':''}}Ideas</h5>
    <ion-list>
      <card-component *ngFor="let item of profile.cards" (click)="showCard($event, item)" [item]="item" [showTopComment]="false"></card-component>
    </ion-list>
  </div>

</ion-content>
