<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profile</ion-title>
    <ion-buttons end *ngIf="myself">
      <button ion-button (click)="editTapped()">
        Edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>

  <div *ngIf='profile'>
    <img [src]="profile.photo_url" />
    <h3>{{profile.fir_name + ' ' + profile.las_name}}</h3>
    <p>{{profile.skills}}</p>
    
    <div (click)="showContributions($event)">
      <h5>Contribution score: 28</h5>
    </div>

    <h5>Ideas</h5>
    <ion-list>
      <card-component *ngFor="let item of profile.cards" [handleTap]="showCard" [item]="item" [showTopComment]="false"></card-component>
    </ion-list>
  </div>

</ion-content>
