idea-card,
#tut-card,
#end-card {

  ion-card.card {
    position: relative;
    border-radius: 20px;
    opacity: 0.9999; // weird overflow bug fix for iOS

    comment-component ion-item .item-inner p {
      -webkit-line-clamp: 2;
      min-height: 3.25em;
    }

    ion-card-content {
      position: relative;
      color: white;
      font-size: 1.4rem;
      height: 15em;
      min-height: 15em;
      text-align: left;

      &.closed {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card {
          box-shadow: none;
        }

        ion-label {
          padding-top: 2px;
        }

        p {
          color: white;
        }
      }

      h2, h3 {
        font-weight: bold;
        color: white;
      }

      .card, .item {
        background-color: transparent;
      }

      p,
      .card,
      .item {
        font-size: inherit;
      }

    }
  }

  .title {
    position: relative;
    padding: 10px 0 0 14px;
    margin-bottom: 8px;
    white-space: nowrap;
    color: white;
    font-size: 2.2rem;
    span {
      font-size: 1.5em;
      border-right: solid 2px white;
      padding-right: 10px;
      margin-right: 10px;
      font-weight: 500;
      color: inherit;
      &.no-border {
        border-right: none;
      }
    }
    .network-name {
      display: block;
      // text-align: right;
      font-size: 0.7em;
      padding-top: 0.5em;
      ion-icon {
        position: relative;
        top: 0.1em;
      }
    }
    @media only screen and (max-device-width : 360px) {
      font-size: 2.0rem;
    }
  }

  p {
    white-space: normal;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    box-orient: vertical;
    text-decoration: none;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    position: relative;
    font-size: 2.2rem !important;
  }

  .footer {
    margin: 0;
    p {
      -webkit-line-clamp: 1;
    }
  }

  .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
  }

  .button-row {
    /* small */
    @media only screen and (max-device-width : 360px) {
      .button { font-size: 1.2rem; }
    }
  }

  .Announcement {
    .title span {
      border-right: none;
    }
    .footer {
      visibility: hidden;
    }
  }
}
