<ion-card *ngIf="item" (click)="itemTapped($event, item)">

  <ion-card-content>
    <div class='img-bg {{industries[item.industry].replace(" ","_")}}'></div>
    <p><span>Industry:</span> {{industries[item.industry]}}</p>
    <p><span>Who:</span> {{item.who}}</p>
    <p><span>Pitch:</span> {{item.pitch}}</p>
    <p *ngIf="item.challenge"><span>Challenge:</span> {{item.challenge}}</p>
    <p><span>Stage:</span> {{stages[item.stage]}}</p>
    <!-- <p><span>Distance:</span> {{item.distance}} miles away</p> -->
  </ion-card-content>
  <ion-row>
    <ion-col col-4>
      <button ion-button icon-left clear small color='secondary'>
        <ion-icon name="chatboxes"></ion-icon>
        <div>{{item.comments.length || ''}} Comment{{item.comments.length>1?'s':''}}</div>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-left clear small color='secondary' (click)="shareTapped($event, item)">
        <ion-icon name="share-alt"></ion-icon>
        <div>Share</div>
      </button>
    </ion-col>
    <ion-col col-4>
      <button *ngIf="!founder" ion-button icon-left clear small color="{{item.following ? 'primary' : 'secondary'}}" (click)="followTapped($event, item)">
        <ion-icon name="bookmark"></ion-icon>
        <div>Follow{{item.following ? 'ing' : ''}}</div>
      </button>
      <button *ngIf="founder" ion-button icon-left clear small color="primary" (click)="$event.preventDefault();$event.stopPropagation();">
        <ion-icon name="bulb"></ion-icon>
        <div>Founder</div>
      </button>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="item.topComment && showTopComment">
    <comment-component *ngIf="item.topComment.message" [item]="item.topComment" [showVotes]="showVotes"></comment-component>
    <new-comment-component *ngIf="!item.topComment.message" (click)="$event.stopPropagation()" [card_id]="item.card_id"></new-comment-component>
  </ion-row>

</ion-card>