card-component,
#tut-card {
	ion-card.card {
		position: relative;
		border-radius: 20px;
		opacity: 0.9999; // weird overflow bug fix for iOS

		comment-component ion-item .item-inner p {
			-webkit-line-clamp: 3;
		}

		ion-card-content {
			position: relative;
			color: white;
			font-size: 1.4rem;
			height: 40vh;
			min-height: 19em;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;

			ion-title {
				color: white;
				border-bottom: solid 1px white;
				margin-top: 1em;
				div {
					color: inherit;
				}
			}

			ion-item {
				background: transparent;
				color: white;
				border: none !important;
			}


			ion-icon {
				position: absolute;
				top: 0;
			}
			ion-item h2 {
				text-transform: uppercase;
				font-weight: 600;
				margin-left: 40px;
				color: #fff;
			}
			p {
				color: #fff;
				font-size: 1em;
				margin-left: 40px;

				/* autoprefixer: off */
					-webkit-box-orient: vertical;
				/* autoprefixer: on */
				box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				position: relative;

				&.oneline {
					-webkit-line-clamp: 3;
				}
			}

			.img-bg,
			.img-bg:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			> h2 {
				position: absolute;
				bottom: 1em;
				width: 100%;
				color: #ccc;
				display: none;
			}

			.img-bg:before {
				// background: color($colors, primary);
			}
		}
	}

	.img-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 45px;
		background-size: cover;
	}
}
