card-component,
#tut-card {

	ion-card.card {
		position: relative;
		border-radius: 20px;
		opacity: 0.9999; // weird overflow bug fix for iOS

		ion-card-content {
			position: relative;
			color: white;
			font-size: 1.4rem;
			height: 30vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: left;

			> p {
				position: relative; /*for z-index*/
				margin: 0.2em 0;
				color: #cfcfcf;
				font-size: inherit;
			}
			span {
				text-transform: uppercase;
				font-weight: 600;
				font-size: 1.4rem;
				color: #fff;
			}
			ion-icon {
				font-size: 3em;
			}

			.img-bg,
			.img-bg:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
			}

			.img-bg:before {
				background: color($colors, primary);
			}

			.img-bg {
				background-size: cover;

				&.Agriculture {
					background-image: url('../../assets/img/industries/Agriculture.jpeg');
					&:before { background: rgba(0,100,0,0.9); }
				}
				&.Art {
					background-image: url('../../assets/img/industries/Art_2.jpeg');
					&:before { background: rgba(0,0,0,0.75); }
					background-position: 50% 50%;
				}
				&.Architecture {
					background-image: url('../../assets/img/industries/Architecture_2.jpg');
					&:before { background: rgba(100,0,0,0.8); }
					background-position: 50% 50%;
				}
				&.Business {
					background-image: url('../../assets/img/industries/Business_2.jpeg');
					&:before { background: rgba(0,0,125,0.7); }
				}
				&.Computer_Science {
					background-image: url('../../assets/img/industries/Computer Science 2.jpeg');
					&:before { background: rgba(0,130,0,0.8); }
				}
				&.Design {
					background-image: url('../../assets/img/industries/Design 1.jpeg');
					&:before { background: rgba(150,80,0,0.9) }
				}
				&.Education {
					background-image: url('../../assets/img/industries/Education 1.jpeg');
					&:before { background: rgba(0,70,20,0.85) }
				}
				&.Engineering {
					background-image: url('../../assets/img/industries/Engineering 2.jpeg');
					&:before { background: rgba(120,20,20,0.85) }
				}
				&.Entrepreneurship {
					background-image: url('../../assets/img/industries/Energy 2.jpeg');
					&:before { background: rgba(120,80,50,0.85) }
					background-position: 50% 50%;
				}
				&.Finance {
					background-image: url('../../assets/img/industries/Finance 3.jpeg');
					&:before { background: rgba(120,150,20,0.9) }
				}
				&.Government {
					background-image: url('../../assets/img/industries/Government 1.jpeg');
					&:before { background: rgba(0,150,120,0.9) }
					background-position: 50% 50%;
				}
				&.Healthcare {
					background-image: url('../../assets/img/industries/Healthcare 3.jpeg');
					&:before { background: rgba(160,40,40,0.9) }
					background-position: 50% 50%;
				}
				&.Humanities {
					background-image: url('../../assets/img/industries/Social Impact 3.jpg');
					&:before { background: rgba(0,100,120,0.9) }
					background-position: 50% 50%;
				}
				&.Journalism {
					background-image: url('../../assets/img/industries/writing_2.jpg');
					&:before { background: rgba(50,20,20,0.9) }
					background-position: 50% 50%;
				}
				&.Languages {
					background-image: url('../../assets/img/industries/Lifestyle 2.jpg');
					&:before { background: rgba(100,0,100,0.8) }
					background-position: 50% 50%;
				}
				&.Law {
					background-image: url('../../assets/img/industries/Legal services 3.jpeg');
					&:before { background: rgba(130,130,0,0.9) }
					background-position: 50% 50%;
				}
				&.Lifestyle {
					background-image: url('../../assets/img/industries/Lifestyle 1.jpg');
					&:before { background: rgba(90,0,130,0.9) }
					background-position: 50% 50%;
				}
				&.Marketing {
					background-image: url('../../assets/img/industries/Marketing 1.jpg');
					&:before { background: rgba(40,40,40,0.9) }
					background-position: 50% 50%;
				}
				&.Math {
					background-image: url('../../assets/img/industries/Marketing 3.jpeg');
					&:before { background: rgba(50,0,0,0.85) }
				}
				&.Music {
					background-image: url('../../assets/img/industries/Music 1.jpeg');
					&:before { background: rgba(0,70,100,0.9) }
				}
				&.Performing_Arts {
					background-image: url('../../assets/img/industries/Music 2.jpeg');
					&:before { background: rgba(0,140,0,0.85) }
				}
				&.Policy_Planning {
					background-image: url('../../assets/img/industries/Policy 1.jpeg');
					&:before { background: rgba(140,30,0,0.85) }
				}
				&.Science {
					background-image: url('../../assets/img/industries/Science 1.jpg');
					&:before { background: rgba(10,50,10,0.8) }
					background-position: 50% 50%;
				}
				&.Social_Impact {
					background-image: url('../../assets/img/industries/Social impact 1.jpeg');
					&:before { background: rgba(0,0,150,0.8) }
					background-position: 50% 50%;
				}
				&.Sports {
					background-image: url('../../assets/img/industries/Sports 1.jpeg');
					&:before { background: rgba(0,70,0,0.85) }
					background-position: 100% 50%;
				}
				&.Writing {
					background-image: url('../../assets/img/industries/writing3.jpeg');
					&:before { background: rgba(70,50,0,0.9) }
					background-position: 50% 50%;
				}
			}
		}
	}
	
	.img-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 45px;
		background-size: cover;		
	}
}