<ion-card *ngIf="item" (click)="itemTapped($event, item)">

  <ion-card-content>
    <div class='img-bg {{industries[item.industry].replace(" ","_")}}'></div>
    <ion-list>
      <ion-title *ngIf="showDetails">The Vision</ion-title>
      <ion-item text-wrap>
        <ion-icon name="bulb" item-start></ion-icon>
        <h2 *ngIf="showDetails || true">Pitch</h2>
        <p>{{item.pitch}}</p>
      </ion-item>
      <ion-item text-wrap>
        <ion-icon name="briefcase" item-start></ion-icon>
        <h2 *ngIf="showDetails || true">Industry</h2>
        <p>{{industries[item.industry]}}</p>
      </ion-item>
      <ion-item text-wrap *ngIf="item.challenge">
        <ion-icon name="warning" item-start></ion-icon>
        <h2 *ngIf="showDetails || true">Current Obstacle</h2>
        <p>{{item.challenge}}</p>
      </ion-item>
      <ion-title *ngIf="showDetails">The Founder</ion-title>
      <ion-item text-wrap *ngIf="showDetails">
        <ion-icon name="person" item-start></ion-icon>
        <h2 *ngIf="showDetails || true">My Background</h2>
        <p>{{item.who}}</p>
      </ion-item>
      <ion-item text-wrap *ngIf="showDetails">
        <ion-icon name="stats" item-start></ion-icon>
        <h2 *ngIf="showDetails || true">Stage</h2>
        <p>{{stages[item.stage]}}</p>
      </ion-item>
    </ion-list>

    <h2 text-center *ngIf="!showDetails">See more</h2>

  </ion-card-content>
  <ion-row>
    <ion-col col-4>
      <button ion-button icon-left clear small color='secondary'>
        <ion-icon name="chatboxes"></ion-icon>
        <div>{{item.comments.length || ''}} Comment{{item.comments.length>1?'s':''}}</div>
      </button>
    </ion-col>
    <ion-col col-4>
      <button ion-button icon-left clear small color='secondary' (click)="shareTapped($event, item)">
        <ion-icon name="share-alt"></ion-icon>
        <div>Share</div>
      </button>
    </ion-col>
    <ion-col col-4>
      <button *ngIf="!founder" ion-button icon-left clear small color="{{item.following ? 'primary' : 'secondary'}}" (click)="followTapped($event, item)">
        <ion-icon name="bookmark"></ion-icon>
        <div>Follow{{item.following ? 'ing' : ''}}</div>
      </button>
      <button *ngIf="founder" ion-button icon-left clear small color="primary" (click)="$event.preventDefault();$event.stopPropagation();">
        <ion-icon name="bulb"></ion-icon>
        <div>Founder</div>
      </button>
    </ion-col>
  </ion-row>
  
  <ion-row *ngIf="item.topComment && showTopComment">
    <comment-component *ngIf="item.topComment.message" [item]="item.topComment" [showVotes]="showTopCommentVotes"></comment-component>
    <new-comment-component *ngIf="!item.topComment.message" (click)="$event.stopPropagation()" [card_id]="item.card_id"></new-comment-component>
  </ion-row>

</ion-card>