$gray-placeholder: 	#aeb0b3;
$gray-solid:		#7e8083;

comment-component {
	
	margin-top: -10px;
	margin-bottom: 10px;
	.item { background: transparent; }

	ion-item {
		align-items: flex-start !important;

		.item-inner {
			overflow: visible;

			p {
				/* autoprefixer: off */
					-webkit-box-orient: vertical;
				/* autoprefixer: on */
				box-orient: vertical;
				text-decoration: none;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 99;
				font-size: 16px;
				position: relative;

				color: $gray-solid;
			}
			.voting {
				color: color($colors, secondary);
			}
			.voting {
				&.upvoted { color: color($colors, balanced); }
				&.downvoted { color: color($colors, danger); }

				ion-icon {
					position: relative;
					font-size: 1.3em;
					&:after {
						content: '';
						position: absolute;
						width: 42px;
						height: 40px;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
				}
			}
			.responses {
				margin-left: -1em;
				margin-right: 0;
				h6 {
					margin: 6px 16px;
					color: color($colors, primary);
					ion-icon {
						position: relative;
						top: 3px;
					}
				}
				comment-component {
					min-height: 50px;
					p {
						max-width: 195px;
					}
				}
				.new-comment-wrapper {
					padding-bottom: 80px;
					new-comment-component {
						position: absolute;
						width: 85vw;
						.item-inner {
							border-bottom: 0;
						}
					}
				}
			}
		}
	}
}

comment-component,
new-comment-component {
	min-height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;

	.founder {
		h3 {
			color: color($colors, primary);
			font-weight: bold;
		}
	}

	// Post Button
	.item .post-btn-wrapper {
		margin-left: 0;
    position: relative;
		.item-button {
      padding: 0;
			width: 36px;
			height: 36px;
			line-height: 36px;
      // margin-top: 0;
		}
    ion-spinner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      * { stroke: white !important; }
      svg {
        left: 25%;
        top: 25%;
        width: 50%;
        height: 50%;
      }
    }
	}
	@media only screen and (max-device-width : 320px) {
		.item .post-btn-wrapper ~ .input-wrapper {
			margin-left: -2px;
		}
		.item .post-btn-wrapper {
			margin-left: 12px;
			margin-right: 0;
			.item-button {
				margin-left: -8px;
				margin-right: -2px;
			}
		}
	}
	
}

new-comment-component {
	.item-inner {
		// padding-bottom: 20px;
		ion-textarea {
      textarea {
        line-height: 1.25em;
        min-height: 3.75em;
      }
			.text-input::-webkit-input-placeholder {
				color: $gray-placeholder;
			}
		}
	}
}
