comment-component {
	ion-item {
		ion-avatar {
			border-radius: 50%;
			overflow: hidden;
			background-image: url('../../assets/img/anon_photo.png');
			background-size: cover;

			> div {
				background-size: cover;
				background-position: 50% 50%;
				min-height: inherit;
			}
		}

		.item-inner {
			p {
				/* autoprefixer: off */
					-webkit-box-orient: vertical;
				/* autoprefixer: on */
				box-orient: vertical;
				text-decoration: none;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 3;
				font-size: 16px;
				position: relative;
				
				// max-height: 5em;
			}
			.voting {
				color: color($colors, secondary);
			}
			.voting {
				&.upvoted { color: color($colors, balanced); }
				&.downvoted { color: color($colors, danger); }

				ion-icon {
					position: relative;
					&:after {
						content: '';
						position: absolute;
						width: 42px;
						height: 40px;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
					}
				}
			}
		}
	}
}

comment-component,
new-comment-component {
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}