<ion-item *ngIf="item.user" text-wrap>
  <ion-avatar item-left (click)="goToProfile($event, item.user.user_id)">
    <img *ngIf='item.user.photo_url' [src]="item.user.photo_url">
  </ion-avatar>
  <h3 (click)="goToProfile($event, item.user.user_id)">{{item.user.fir_name + ' ' + item.user.las_name}}</h3>
  <p>{{item.message}}</p>
  <div item-right text-center class='voting'>
  	<ion-icon name="arrow-up"></ion-icon><br/>
  	{{item.likes ? item.likes.length : 0}}<br/>
  	<ion-icon name="arrow-down"></ion-icon>
  </div>
</ion-item>