<ion-item *ngIf="item.user" text-wrap>
  <ion-avatar item-left (click)="goToProfile($event, item.user.id)">
    <div *ngIf='item.user.photo_url' [ngStyle]="{'background-image': 'url(' + item.user.photo_url + ')'}"></div>
  </ion-avatar>
  <h3 (click)="goToProfile($event, item.user.id)">{{item.user.fir_name + ' ' + item.user.las_name}}</h3>
  <p>{{item.message}}</p>
  <div *ngIf="showVotes" item-right text-center class='voting {{vote==1?"upvoted":(vote==-1?"downvoted":"")}}'>
  	<ion-icon name="md-arrow-dropup" (click)="upvote($event, item)" color="{{vote == 1?'balanced':'secondary'}}"></ion-icon><br/>
  	{{item.score}}<br/>
  	<ion-icon name="md-arrow-dropdown" (click)="downvote($event, item)" color="{{vote==-1?'danger':'secondary'}}"></ion-icon>
  </div>
  <div *ngIf="showVotes">
    <h6 (click)="item.expanded=!item.expanded">{{item.responses.length>0 ? item.responses.length + " Replies" : "Reply"}}</h6>
    <div *ngIf="item.expanded">
      <comment-component *ngFor="let response of item.responses" [item]="response" [showVotes]="false"></comment-component>
    </div>
  </div>
</ion-item>
