new-card-page {
	textarea {
		height: 5em;
    @media only screen and (max-device-width : 320px) {
      height: 4em;
    }
	}
	.long textarea {
		height: 8em;
    @media only screen and (max-device-width : 320px) {
      height: 6em;
    }
	}

	p {
		white-space: normal;
		text-align: center;
	}

	ion-select {
		min-height: 36px;
	}

  #challenge_select {
    .select-text {
      white-space: pre-line;
    }
    ion-select {
      min-height: 3.5em;
    }
  }

	.grid {
		-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}

  .row.keyboard_visible {
    display: none !important;
  }

	ion-card-content, form, ion-slide, .slide-zoom, .grid {
		height: 100%;
		// position: relative;
	}

  .button-row {
    margin-top: 16px;
  }

  ion-label span {
    float: right;
    &.invalid {
      color: red;
    }
  }
}