<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="cancel($event)">
        Cancel
      </button>
    </ion-buttons>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item.id ? "Edit" : "Create"}}</ion-title>
    <ion-buttons end *ngIf="item.id">
      <button ion-button icon-only (click)="deleteCard($event)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card-content no-bounce>

    <form (ngSubmit)="submitCard()" #cardForm="ngForm">

    <ion-slides>

      <ion-slide>
        <ion-grid>
          <ion-row align-items-start>
            <ion-item>
              <ion-title>The Vision</ion-title>
            </ion-item>
            <ion-item>
              <ion-label stacked>Industry</ion-label>
              <ion-select name="industry" [(ngModel)]="item.industry" multiple="false" required>
                <ion-option *ngFor="let industry of industries" value="{{industry}}">{{industry}}</ion-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label stacked>Pitch</ion-label>
              <ion-textarea name="pitch" [(ngModel)]="item.pitch" type="text" required maxlength="120" placeholder="In just a couple of sentences, describe the general idea."></ion-textarea>
            </ion-item>
            <ion-item>
              <ion-label stacked>Details</ion-label>
              <ion-textarea class="long" name="details" [(ngModel)]="item.details" type="text"
                placeholder="What's the revenue model? Who's the competition? How will you execute? Or any other details you'd like people to know.">
              </ion-textarea>
            </ion-item>
          </ion-row>
          <ion-row justify-content-between>
            <ion-col col-xs-6></ion-col>
            <ion-col col-xs-6>
              <button ion-button block round (click)="nextSlide($event)" [disabled]="!item.industry || !item.pitch.length">Next</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-item>
              <ion-title>The Founder</ion-title>
            </ion-item>
            <ion-item>
              <ion-label stacked>My Background</ion-label>
              <ion-textarea class="long" name="who" [(ngModel)]="item.who" type="text" required placeholder="Why are you the right person for this idea?"></ion-textarea>
            </ion-item>
          </ion-row>
          <ion-row justify-content-between>
            <ion-col col-xs-6>
              <button ion-button block round (click)="prevSlide($event)" outline>Back</button>
            </ion-col>
            <ion-col col-xs-6>
              <button ion-button block round (click)="nextSlide($event)" [disabled]="!item.who.length">Next</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-item>
              <ion-title>The Ask</ion-title>
            </ion-item>
            <ion-item>
              <p>Everyone needs help on their entrepreneurial journey. Don't be shy to ask about what you don't yet know.</p>
            </ion-item>
            <ion-item>
              <ion-label>I need advice in</ion-label>
              <ion-select name="challenge_ids" [(ngModel)]="item.challenge_ids" multiple="true" (ngModelChange)="updateNamesByIds()">
                <ion-option *ngFor="let challenge of challenges" value="{{challenge.id}}">{{challenge.name}}</ion-option>
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label stacked>Challenge Details</ion-label>
              <ion-textarea class="long" name="challenge_details" [(ngModel)]="item.challenge_details" type="text" placeholder="Additional details about the difficulty or uncertainy you're facing."></ion-textarea>
            </ion-item>
          </ion-row>
          <ion-row justify-content-between>
            <ion-col col-xs-6>
              <button ion-button block round (click)="prevSlide($event)" outline>Back</button>
            </ion-col>
            <ion-col col-xs-6>
              <button ion-button block round type="submit" [disabled]="!cardForm.form.valid">Share</button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

    </ion-slides>

    <!-- <button *ngIf="item.id" ion-button block round color="danger" (click)="deleteCard($event)">Delete Card</button> -->

    </form>

  </ion-card-content>
</ion-content>
