d<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end *ngIf="founder && !noEdit">
      <button ion-button (click)="editTapped()">
        Edit
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="!founder">
      <button ion-button (click)="goToMessage()">
        Message Founder
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="item">
  <ion-refresher (ionRefresh)="wall.doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>

  <card *ngIf="!loading" [item]="item" [showTopComment]="false" [showDetails]="true"></card>
  <ion-row *ngIf="!loading">
    <new-comment-component (click)="$event.stopPropagation()" [card_id]="item.id" (newComment)="wall.prependComment($event)" [founder_id]="item.founder_id" [encourage]="item.comments.length==0"></new-comment-component>
    <wall-component #wall [card_id]="item.id" [founder_id]="item.founder_id"></wall-component>
  </ion-row>
</ion-content>
