<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end *ngIf="founder">
      <button ion-button (click)="iterateTapped()">
        Edit
      </button>
    </ion-buttons>
    <ion-buttons end *ngIf="!founder">
      <button ion-button (click)="goToMessage()">
        Message
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="item">
  <ion-refresher (ionRefresh)="wall.doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <card-component [item]="item" [showTopComment]="false" [showDetails]="true"></card-component>
  <ion-row>
    <new-comment-component (click)="$event.stopPropagation()" [card_id]="item.id" (newComment)="wall.prependComment($event)" [founder_id]="item.founder_id"></new-comment-component>
    <wall-component #wall [card_id]="item.id" [founder_id]="item.founder_id"></wall-component>
  </ion-row>
</ion-content>
