<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Item Details</ion-title> -->
    <ion-buttons end *ngIf="founder">
      <button ion-button icon-only (click)="iterateTapped()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="item">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <card-component [item]="item" [showTopComment]="false" [showDetails]="true"></card-component>

  <ion-row>
    <new-comment-component (click)="$event.stopPropagation()" [card_id]="item.id"></new-comment-component>
    <wall-component [card_id]="item.id"></wall-component>
  </ion-row>
</ion-content>
