<ion-menu [content]="content" side="left">
  <ion-header>
    <ion-toolbar>
      <ion-title>{{auth.valid ? auth.currentUser.fir_name+' '+auth.currentUser.las_name : ''}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>

      <ion-item (click)="openPage(profPage)">
        <ion-avatar [ngClass]="'large'">
          <div *ngIf='auth.valid' [ngStyle]="{'background-image': 'url(' + auth.currentUser.photo_url + ')'}"></div>
        </ion-avatar>
        <br/>
        My Profile
        <ion-icon item-right></ion-icon>
      </ion-item>
      <button ion-item *ngFor="let p of pages; let i = index" (click)="openPage(p)" detail-none id="{{i==0?'create-card-btn':''}}">
        <!-- <ion-icon item-left></ion-icon> -->
        {{p.title}}
        <ion-icon item-right name="{{p.icon}}"></ion-icon>
      </button>

      <button ion-item (click)="logout()" detail-none>
        Logout
        <ion-icon item-right name="md-log-out"></ion-icon>
      </button>

    </ion-list>

    <button id="mission-btn" ion-item (click)="goToMission()" detail-none>
      <ion-icon item-right name="information"></ion-icon>
      The Adjacent Mission
    </button>

  </ion-content>
</ion-menu>

<notification-center-component [inheritedContent]="content" (goToCard)="goToCard($event)" (goToProfile)="goToProfile($event)">
</notification-center-component>

<ion-nav [root]="rootPage" #content swipeBackEnabled="true"></ion-nav>
