// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// Adjacent logo title
#title-img {
  height: 38px;
  margin-top: 7px;
}
#title-img-large {
	margin: 0 auto;
}

// Sidemenu
ion-menu {
	.toolbar-ios ion-title {
		padding-right: 115px;
		// default 90 + 25 for icon width
	}
	div {
		text-align: center;
	}
	ion-icon {
		width: 25px;
	}
	#create-card-btn {
		// color: green;
	}
	#mission-btn {
		position: absolute;
		bottom: 0;
		color: color($colors, secondary);
	}
}

// List border
// (intended for sidemenu, message.index, followers)
.list > .item-block:first-child {
	border-top: none;
}
.list > .item-block:last-child, 
.list > .item-wrapper:last-child .item-block {
	border-bottom: none;
}

// Empty lists
.empty {
	color: #a0a0a0;
	background: #eee;
	text-align: center;
	border-radius: 4px;
	padding: 16px;
	&.margin {
		margin: 16px;
	}
}

// Avatars
ion-avatar.large {
	margin: 0 auto;
	min-height: 72px;
	width: 72px;
}
ion-avatar {
	border-radius: 50%;
	overflow: hidden;
	background-image: url('../../assets/img/anon_photo.png');
	background-size: cover;
	height: 36px;
	width: 36px;

	> div {
		background-size: cover;
		background-position: 50% 50%;
		min-height: inherit;
	}
}
.item ion-avatar[item-left], 
.item ion-thumbnail[item-left], 
.item ion-avatar[item-start], 
.item ion-thumbnail[item-start] {
	margin-top: 11px;
}
.founder ion-avatar {
	border: solid 3px color($colors, primary);
	position: relative;
	background: #f0f0f0;
	height: 30px;
	width: 30px;
	left: 1px;

	ion-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 1.5em;
	}
}

// Industry BG's
ion-avatar {
	position: relative;
	.img-bg:before {
		opacity: 0.7;
	}
}
ion-card.card ion-card-content,
ion-avatar {
	.img-bg,
	.img-bg:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.img-bg {
	background-size: cover;
	background-color: #666;
	&.tut {
		background-image: url('../assets/img/industries/Bulb.jpg');
		background-position: 50% 50%;
		&:before { background: rgba(68,57,153,0.9); }
	}
	&.Agriculture {
		background-image: url('../assets/img/industries/Agriculture.jpg');
		&:before { background: rgba(100,70,0,0.75); }
	}
	&.Art {
		background-image: url('../assets/img/industries/Art.jpg');
		&:before { background: rgba(0,0,0,0.7); }
		background-position: 50% 50%;
	}
	&.Architecture {
		background-image: url('../assets/img/industries/Architecture.jpg');
		&:before { background: rgba(100,0,0,0.8); }
		background-position: 50% 50%;
	}
	&.Business {
		background-image: url('../assets/img/industries/Business.jpg');
		&:before { background: rgba(0,0,125,0.7); }
	}
	&.Computer_Science {
		background-image: url('../assets/img/industries/Computer_Science.jpg');
		&:before { background: rgba(0,130,0,0.8); }
	}
	&.Design {
		background-image: url('../assets/img/industries/Design.jpg');
		&:before { background: rgba(150,80,0,0.9) }
	}
	&.Education {
		background-image: url('../assets/img/industries/Education.jpg');
		&:before { background: rgba(150,150,0,0.85) }
	}
	&.Engineering {
		background-image: url('../assets/img/industries/Engineering.jpg');
		&:before { background: rgba(120,20,20,0.85) }
	}
	&.Environment {
		background-image: url('../assets/img/industries/Environment.jpg');
		&:before { background: rgba(0,100,0,0.9); }
	}
	&.Fashion {
		background-image: url('../assets/img/industries/Fashion.jpg');
		&:before { background: rgba(80,0,0,0.8) }
	}
	&.Finance {
		background-image: url('../assets/img/industries/Finance.jpg');
		&:before { background: rgba(0,80,0,0.7) }
	}
	&.Gaming {
		background-image: url('../assets/img/industries/Gaming.jpg');
		&:before { background: rgba(0,100,140,0.9) }
	}
	&.Government {
		background-image: url('../assets/img/industries/Government.jpg');
		&:before { background: rgba(0,150,120,0.9) }
		background-position: 50% 50%;
	}
	&.Healthcare {
		background-image: url('../assets/img/industries/Healthcare.jpg');
		&:before { background: rgba(160,40,40,0.85) }
		background-position: 50% 50%;
	}
	&.Humanities {
		background-image: url('../assets/img/industries/Humanities.jpg');
		&:before { background: rgba(0,100,120,0.9) }
		background-position: 50% 50%;
	}
	&.Journalism {
		background-image: url('../assets/img/industries/Journalism.jpg');
		&:before { background: rgba(50,20,20,0.9) }
		background-position: 50% 50%;
	}
	&.Language {
		background-image: url('../assets/img/industries/Language.jpg');
		&:before { background: rgba(100,0,100,0.7) }
		background-position: 50% 50%;
	}
	&.Law {
		background-image: url('../assets/img/industries/Law.jpg');
		&:before { background: rgba(130,130,0,0.9) }
		background-position: 50% 50%;
	}
	&.Lifestyle {
		background-image: url('../assets/img/industries/Lifestyle.jpg');
		&:before { background: rgba(0,150,130,0.85) }
		background-position: 50% 50%;
	}
	&.Marketing {
		background-image: url('../assets/img/industries/Marketing.jpg');
		&:before { background: rgba(40,40,40,0.9) }
		background-position: 50% 50%;
	}
	&.Math {
		background-image: url('../assets/img/industries/Math.jpg');
		&:before { background: rgba(50,0,0,0.85) }
	}
	&.Music {
		background-image: url('../assets/img/industries/Music.jpg');
		&:before { background: rgba(0,70,100,0.9) }
	}
	&.Performing_Arts {
		background-image: url('../assets/img/industries/Performing_Arts.jpg');
		&:before { background: rgba(180,60,70,0.8) }
	}
	&.Science {
		background-image: url('../assets/img/industries/Science.jpg');
		&:before { background: rgba(10,50,10,0.8) }
		background-position: 50% 50%;
	}
	&.Social_Impact {
		background-image: url('../assets/img/industries/Social_Impact.jpg');
		&:before { background: rgba(30,30,150,0.75) }
		background-position: 50% 50%;
	}
	&.Sports {
		background-image: url('../assets/img/industries/Sports.jpg');
		&:before { background: rgba(0,70,0,0.85) }
		background-position: 100% 50%;
	}
	&.Transportation {
		background-image: url('../assets/img/industries/Transportation.jpg');
		&:before { background: rgba(180,110,0,0.85) }
	}
	&.Urban_Planning {
		background-image: url('../assets/img/industries/Urban_Planning.jpg');
		&:before { background: rgba(100,130,0,0.9) }
	}
	&.Writing {
		background-image: url('../assets/img/industries/Writing.jpg');
		&:before { background: rgba(100,80,0,0.8) }
		background-position: 50% 50%;
	}
}

// Difference Devices
/* iPhone 5 */
@media only screen and (max-device-width : 320px) {
	html { font-size: 55%; }
}