<ion-header>

	<ion-navbar>
		<button ion-button menuToggle>
		  <ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Following</ion-title>
		<!-- <ion-buttons end>
		  <button ion-button (click)="sortTapped()">
		    Sort
		  </button>
		</ion-buttons> -->
	</ion-navbar>

</ion-header>


<ion-content padding>

	<h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>

	<ion-list>
    <idea-card *ngFor="let item of items" (click)="showCard($event, item)" [item]="item" [showTopComment]="false"></idea-card>
    <div class='empty' *ngIf="!loading && !items.length">Follow interesting ideas to keep tabs on them here.</div>
	</ion-list>

	<ion-infinite-scroll *ngIf="!reachedEnd && !loading" enabled="!reachedEnd && !loading" (ionInfinite)="$event.waitFor(doInfinite())" position="bottom">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>
