page-message {

	.list > .item-block:first-child {
		border-top: none;
	}
	.list > .item-block:last-child, 
	.list > .item-wrapper:last-child .item-block {
		border-bottom: none;
	}

}

show-page-message {
	h5 {
		color: #999;
		margin: 1em;
		text-align: center;
	}
}