page-message {
	h3 {
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

show-page-message {
	h5 {
		color: #999;
		margin: 1em;
		text-align: center;
	}
}

.input-cover {
  position: static !important;
}