<ion-header>
  <ion-navbar>
    <ion-title>{{loading ? "" : (item.card ? "Founder" : item.other.fir_name)}}</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-infinite-scroll *ngIf="!reachedEnd && !loading" enabled="!reachedEnd && !loading" (ionInfinite)="$event.waitFor(doInfinite())" position="top">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

  <h5 *ngIf="item.anonymous">The founder has chosen to remain anonymous for this idea.</h5>

  <h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>
	
	<message *ngFor="let msg of item.messages" [item]="msg"></message>
</ion-content>

<ion-footer>
  <ion-toolbar>
  	<ion-buttons left>
  	</ion-buttons>
    <ion-input [(ngModel)]="draft.text" type="text" placeholder="Type a message"></ion-input>
    <ion-buttons right>
    	<button ion-button round [disabled]="!draft.text.length" (click)="sendMessage($event)">Send</button>
  	</ion-buttons>
  </ion-toolbar>
</ion-footer>