<ion-header>
  <ion-navbar>
    <ion-title>{{loading ? "" : (item.card && !founder ? "Founder" : item.other.fir_name)}}</ion-title> 
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-infinite-scroll *ngIf="!reachedEnd && !loading" enabled="!reachedEnd && !loading" (ionInfinite)="$event.waitFor(doInfinite())" position="top">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>

  <h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>
	
	<message *ngFor="let msg of item.messages" [item]="msg" [founder_id]="item.card ? item.card.founder_id : null"></message>

  <div class='empty margin' *ngIf="!loading && remindAnonymous">Don't forget you're anonymous here! <br/>Your photo and name will remain hidden within this conversation.</div>

  <div class='empty margin' *ngIf="!loading && !item.messages.length">There isn’t anything here yet! Send them a message to start a conversation.</div>

</ion-content>

<ion-footer>
  <ion-toolbar>
  	<ion-buttons left>
  	</ion-buttons>
    <ion-input [(ngModel)]="draft.text" type="text" placeholder="Type a message"></ion-input>
    <ion-buttons right>
    	<button ion-button round [disabled]="!draft.text.length" (click)="sendMessage($event)">Send</button>
  	</ion-buttons>
  </ion-toolbar>
</ion-footer>