<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><img id='title-img' src="./assets/img/title.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openRightMenu()">
        <ion-icon name="notifications-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>

  <ion-slides *ngIf="!loading" (ionSlideDidChange)="slideChanged()">

    <ion-slide id="tut-card">
      <ion-card>
        <ion-card-content>
          <div class='img-bg tut'></div>
          <h1 text-center>Slide left to begin exploring the opportunity around you.</h1>
          <h1 text-center><ion-icon name="arrow-round-back"></ion-icon></h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide *ngFor="let item of items">
      <card-component (click)="showCard($event, item)" [item]="item" [showTopCommentVotes]="false"></card-component>
    </ion-slide>

  </ion-slides>

</ion-content>
