<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu" color="{{msg.unread_ids.length && false ? 'danger' : 'primary'}}"></ion-icon>
       <ion-badge *ngIf="msg.unread_ids.length" color="danger">{{msg.unread_ids.length}}</ion-badge>
    </button>
    <ion-title *ngIf="auth.show_title"><img id='title-img' src="./assets/img/title.svg"/></ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="showFilter($event)" id='filter_button'>
        <ion-icon name="ios-search-outline" color="{{notif.unreadCount && false ? 'danger' : 'primary'}}"></ion-icon>
      </button>
      <button ion-button icon-only (click)="openRightMenu()">
        <ion-badge *ngIf="notif.unreadCount" color="danger">{{notif.unreadCount}}</ion-badge>
        <ion-icon name="ios-notifications-outline" color="{{notif.unreadCount && false ? 'danger' : 'primary'}}"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>

  <ion-refresher [enabled]="!loading" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <h1 *ngIf="loading" text-center><ion-spinner></ion-spinner></h1>

  <ion-slides *ngIf="!loading" (ionSlideDidChange)="slideChanged()">

    <ion-slide id="tut-card" *ngIf="items.length">
      <ion-card>
        <ion-card-content>
          <div class='img-bg tut'></div>
          <h1 *ngIf="!introQuote">Swipe to<br/>explore the<br/>opportunity<br/>around<br/>you.</h1>
          <h1 class='quote' *ngIf="introQuote"><i>"{{introQuote.quote}}"</i><p>-{{introQuote.source}}</p></h1>
          <h1 class='arrow'><ion-icon name="arrow-round-back"></ion-icon></h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide *ngFor="let item of items">
      <idea-card (click)="showCard($event, item)" [item]="item" [showTopCommentVotes]="false"></idea-card>
    </ion-slide>

    <ion-slide id="end-card" *ngIf="!items.length">
      <ion-card>
        <ion-card-content>
          <div class='img-bg end'></div>
          <h1>There's nothing here!</h1>
          <h1>Try broadening your Filter parameters.</h1>
        </ion-card-content>
      </ion-card>
    </ion-slide>

  </ion-slides>

</ion-content>
