discover-page {

  idea-card > ion-card.card,
  #tut-card ion-card.card,
  #end-card ion-card.card {
    box-shadow: none;
    border: solid 1px #bbb;
    border-bottom-width: 3px;
  }

	idea-card ion-card.card,
	#tut-card ion-card.card,
  #end-card ion-card.card {

    // box-shadow: 0px 4px 12px #999;

		.card-content {
			font-size: 1.9rem;
			height: 60vh;
		}

		/* tablets/desktops */
		@media (min-width: 500px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}

	#tut-card {
		ion-card.card {
			.img-bg {
				bottom: 0;
			}
			.card-content {
        height: 82vh;
				height: calc(60vh + 145px);
			}
		}

		h1 {
			color: inherit;
			position: relative;
			font-size: 2.2em;
			line-height: 1.2em;
      // font-weight: 600;
      &.quote {
        text-align: center;
        font-size: 1.4em;
        padding: 0 10px;
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        p {
          color: inherit;
          font-size: 0.7em;
          margin-top: 1em;
        }
      }
		}
    .arrow{
      font-size: 3em;
      position: absolute;
      bottom: 0;
    }

		ion-icon {
			font-size: 2.5em;
		}

		animation: slideLeft 5s infinite;
		-webkit-animation: slideLeft 5s infinite;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;

		@-webkit-keyframes slideLeft {
			0%, 20% {-webkit-transform: translateX(0);}
			15% {-webkit-transform: translateX(-40px);}
			17% {-webkit-transform: translateX(10px);}
		}

		@keyframes slideLeft {
			0%, 20% {-webkit-transform: translateX(0);}
			15% {-webkit-transform: translateX(-40px);}
			17% {-webkit-transform: translateX(10px);}
		}
	}

  #end-card {
    ion-card.card {
      .img-bg {
        bottom: 0;
      }
      .card-content {
        height: 82vh;
        height: calc(60vh + 145px);
        text-align: center;
      }
    }

    h1 {
      color: color($colors, secondary);
      position: relative;
      font-size: 1.5em;
      line-height: 1.2em;
      margin-top: 2em;
    }
  }

  new-comment-component {
    margin-top: -10px;
    margin-bottom: 10px;
    .item-inner ion-textarea textarea,
    .item ion-avatar,
    .item .post-btn-wrapper {
      margin-top: 0 !important;
    }
  }

}
