discover-page {

	card-component ion-card.card,
	#tut-card ion-card.card, {

		box-shadow: 0px 4px 12px #999;

		.card-content {
			font-size: 1.8rem;
			height: 60vh;
		}

		/* tablets/desktops */
		@media (min-width: 500px) {
			max-width: 500px;
			margin: 0 auto;
		}
	}

	#tut-card {
		ion-card.card {
			.img-bg {
				bottom: 0;
			}
			.card-content {
				height: calc(60vh + 145px);
			}
		}

		h1 {
			color: inherit;
			position: relative;
			font-size: 1.4em;
			line-height: 1.75em;
		}

		ion-icon {
			font-size: 2.5em;
		}

		animation: slideLeft 5s infinite;
		-webkit-animation: slideLeft 5s infinite;
		animation-delay: 1s;
		-webkit-animation-delay: 1s;

		@-webkit-keyframes slideLeft {
			0%, 20% {-webkit-transform: translateX(0);}
			15% {-webkit-transform: translateX(-40px);}
			17% {-webkit-transform: translateX(10px);}
		}

		@keyframes slideLeft {
			0%, 20% {-webkit-transform: translateX(0);}
			15% {-webkit-transform: translateX(-40px);}
			17% {-webkit-transform: translateX(10px);}
		}
	}
}
